{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет пользователя</title>
    <link rel="stylesheet" href="{% static 'css/style-lk.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;
        0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
{% if db_lk.first_name == '4' %}
<div class="container">
    <div class="container-lk">
        <div class="block-content">
            <a href="{% url 'edit' %}">Добавить данные пользователя</a>
            <a href="{% url 'index' %}">Главная</a>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="container-lk">
        <div class="left-block">
            <p>Имя:</p>
            <p>Фамилия:</p>
            <p>Почта:</p>
            <p>Телефон:</p>
        </div>
        <div class="right-block">
            <p>{{ db_lk.first_name }}</p>
            <p>{{ db_lk.second_name }}</p>
            <p>{{ db_lk.email_user }}</p>
            <p>{{ db_lk.phone_user }}</p>
        </div>
    </div>
</div>
<div class="container-button">
    <a href="{% url 'edit' %}">Изменить</a>
    <a href="{% url 'index' %}">Главная</a>
</div>
{% endif %}
</body>
</html>