{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Погода</title>
    <link rel="stylesheet" href="{% static 'css/style-weather.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;
        0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <div class="block">
                <div class="elem">
                    <h2>Погода в вашем городе</h2>
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" name="city" placeholder="Введите город" class="city">
                        <br>
                        <input type="submit" name="send" value="Узнать" class="but">
                    </form>
                </div>
                <div class="elem">
                    <div class="info">
                        <p class="data">
                            <b>Город: {{ city }}</b>
                            <b>Температура: {{ res_city }}</b>
                        </p>
                    </div>
                </div>
        </div>
        <div class="container-button">
            <a href="{% url 'index' %}">Главная</a>
        </div>
    </div>
</body>
</html>